* {
	font-family: 'Lato', sans-serif !important;
}

a {
	text-decoration: none !important;
	font-weight: bold;
	color : #BCBBBB;
}

hr {
	border : 2px #BCBBBB solid;
}

.img-title {
	margin-top: 20px;
}

.owner-title {
	font-size: 48px;
	letter-spacing: 2px;
	font-weight: bold;
}

.owner-description {
	font-size: 18px;
}

.list-title {
	font-size: 36px;
	font-weight: bold !important;
	color : #BCBBBB;
}

.list-element {
	font-size: 36px;
}