.container {
	width: 100%;
	display: flex;
	flex-wrap : wrap;
}

.box {
	width: 100%;
	height: 48px;
}

.black {
	width: 50%;
	order : 1;
	background-color: black;
}

.green {
	width: 50%;
	order : 2;
	background-color: green;
}

.red {
	width: 33%;
	order : 3;
	background-color: red;
}

.yellow {
	width: 67%;
	order : 4;
	background-color: yellow;
}

.blue {
	order : 5;
	background-color: blue;
}

@media screen and (min-width: 701px) {
	.container {
		width: 700px;
		margin: 0 auto;
	}
}